force-app/main/default/flows/Lead_Triggered_After_Insert_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Format_Phone_Numbers</name>
        <label>Format Phone Numbers</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <actionName>noltic_libphone__CustomPhoneFormattingAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_formatted_record</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Lead</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__output</typeName>
            <typeValue>Lead</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>countryCode</name>
            <value>
                <stringValue>UA</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>phoneNumberFormat</name>
            <value>
                <stringValue>INTERNATIONAL</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fieldsToFormat</name>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sobjectTypeName</name>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_formatted_record</name>
        <label>Assign formatted record</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>records</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Format_Phone_Numbers</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateRecord</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Lead | Triggered | After Insert / Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead | Triggered | After Insert / Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>UpdateRecord</name>
        <label>UpdateRecord</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <inputReference>records</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Format_Phone_Numbers</targetReference>
        </connector>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>records</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
</Flow>
